/** {border:dashed 1px rgba(255, 0, 0, 0.40);}*/

.row{
     margin-right: 0 !important;
}

@font-face {
    font-family: DBAdman;
    src: url("#{resource['fonts:DBAdmanRoundedX.TTF']}") format('truetype');
}

h3.thank-text{
    font-family: DBAdman;
    font-size: 2.3em;
}

.text-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.for-poll{
    margin-bottom: 5%;
}


.scale{
    width: 100%;
    position: relative;
    top:5px;
}

.scale > span{
    left: 0%;
    position: absolute;
    height: 6px;
    border-left: 1px solid #BAB9B9;
}

.scale > span > ins{
    margin-left: -3.5px;
    font-size:11px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 5px;
    color: #BAB9B9;
}

.scale > span:nth-child(1){
    left: 0.5%;
}

.scale > span:nth-child(2){
    left: 25%;
}

.scale > span:nth-child(3){
    left: 50%;
}

.scale > span:nth-child(4){
    left: 75%;
}

.scale > span:nth-child(5){
    left: 99%;
}

blockquote{
    border-left: 0 !important;
    margin: 0 !important;
}

blockquote h3:before,
blockquote h3:after{
    font-size: 1.2em;
    color: #A3CCD8;
    line-height: 0;
    vertical-align: middle;
}

blockquote h3:first-child:before{
    content: "\275D";
    margin: 0 5px 0 -40px;
}

blockquote h3:last-child:after{
    content: "\275E";
    margin: 0 -40px 0 5px;
}

fieldset{
    margin-bottom: 3%;
}

legend{
    margin-bottom: 10px !important;
}

ol#with-decimal:first-child,ol#with-decimal.indend{
    padding: 0;
}

ol#with-decimal.indend{
    padding-left: 3%;
}

ol#with-decimal {
    counter-reset: item;
}
ol#with-decimal li {
    margin-left: 27px;
    display: block;
    position: relative;
}

ol#with-decimal li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

ol#single {
    padding: 0;
    padding-left: 2.2%;
    counter-reset: myitem;
}
ol#single li {
    margin-left: 27px;
    display: block;
    position: relative;
}

ol#single li:before {
    content: counter(myitem) ".";
    counter-increment: myitem;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}

@media screen and (max-width: 768px) {
    .for-poll{
        margin-bottom: 15%;
    }

    ol#with-decimal li {
        margin-bottom: 12px;
    }

    .text-row{
        margin-bottom: 25px !important;
    }

    .for-poll{
        margin-bottom: 9% !important;
    }
}


