<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>แบบสอบถาม</title>
    </f:facet>

    <f:facet name="middle">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"/>
        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputStylesheet name="bootstrap/css/custom.css" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
        <script type="text/javascript">
            $(document).ready(
                function()
                {
                    $("div.ui-selectonemenu.full-width").each(
                        function()
                        {
                            $(this).css("width",$(this).parent().width());
                        }
                    );
                }
            );
        </script>
    </f:facet>

    <style type="text/css">
        #none {
            list-style-type: none;
            /*margin-left: 7%;*/
            font-size: 1.3em;
        }

        p {
            text-indent: 2em;
            font-size: 1.3em;
            text-align: justify;
            text-justify: inter-word;
        }

        h4 {
            /*text-indent: 2em;*/
            font-size: 1.3em;
        }

        .txt-big{
            padding-right: 1%;
        }

    </style>
</h:head>
<f:event type="preRenderView" listener="#{indexBean.startForm}" />
<h:body>
    <h:form>
    <div class="container">
        <div class="page-header">
            <h3 style="text-align: center;">การสำรวจปัจจัยความผาสุกและความผูกพันของบุคลากรต่อองค์กร</h3>
        </div>
        <b:row styleClass="show-grid">
            <b:column col-md="12" tooltipDelay="col-xs">
                <p>แบบสอบถามฉบับนี้จัดทำขึ้นโดยมีจุดมุ่งหมายเพื่อให้การดำเนินการจัดทำแผนการปรับปรุงองค์กร โดยการมุ่งเน้นด้านทรัพยากรบุคคล  และเพื่อวิเคราะห์ปัจจัยที่มีผลต่อความผาสุกและความผูกพันของบุคลากรต่อองค์กร ตามลำดับความสำคัญและนำผลการวิเคราะห์มาใช้ในการปรับปรุง และจัดทำแผนการเสริมสร้างความผาสุกและความผูกพันของบุคลากรให้สอดคล้องกับแนวทางการสำรวจการพัฒนาองค์กร จึงขอความร่วมมือให้ท่านตอบแบบสอบถามตามความเป็นจริง โดยแบบสอบถามชุดนี้แบ่งเป็น 4 ส่วน ดังนี้</p>
            </b:column>
        </b:row>
        <br/>
        <b:row>
            <b:column col-md="12">
                <ol id="none">
                    <li>ส่วนที่ 1		คำถามเกี่ยวกับข้อมูลส่วนบุคคล</li>
                    <li>ส่วนที่ 2		คำถามเกี่ยวกับความผาสุก</li>
                    <li>ส่วนที่ 3		คำถามเกี่ยวกับความผูกพันของบุคลากรต่อองค์กร</li>
                    <li>ส่วนที่ 4	 	คำถามเกี่ยวกับข้อเสนอแนะ และความคิดเห็น</li>
                </ol>
            </b:column>
        </b:row>


        <div class="row text-row">
            <div class="col-md-12">
                <p:messages id="msgs"/>
            </div>
        </div>
        <div class="row text-row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="container">

                    <ol id="with-decimal">
                        <fieldset>
                            <legend><li>ข้อมูลทั่วไปของบุคคล</li></legend>
                            <ol id="with-decimal">
                                <div class="row text-row">
                                    <div class="col-md-6"><li>เพศ</li></div>
                                    <div class="col-md-6">
                                        <h:panelGrid columns="2" cellpadding="5">
                                            <p:selectOneRadio id="gender" value="#{indexBean.pollEntity.sex}" cellpadding="5">
                                                <f:selectItem itemLabel="ชาย" itemValue="ชาย" />
                                                <f:selectItem itemLabel="หญิง" itemValue="หญิง" />
                                            </p:selectOneRadio>
                                        </h:panelGrid>
                                    </div>
                                </div>

                                <div class="row text-row">
                                    <div class="col-md-6"><li>หน่วยงานที่สังกัด ฝ่าย/งาน/หน่วย</li></div>
                                    <div class="col-md-3 col-sm-6">
                                        <p:selectOneMenu id="department" value="#{indexBean.selectDepartment}" required="true" requiredMessage="กรุณาเลือกตำแหน่งของคุณ" styleClass="full-width">
                                            <f:selectItem itemLabel="กรุณาเลือกแผนก" itemValue=""/>
                                            <f:selectItems value="#{indexBean.departmentList}" var="item"
                                                           itemLabel="#{item.departmentName}" itemValue="#{item.id}" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>


                                <div class="row text-row">
                                    <div class="col-md-6"><li>อายุ</li></div>
                                    <div class="col-md-3 col-sm-6">
                                        <p:selectOneMenu id="age" value="#{indexBean.pollEntity.age}" cellpadding="5" styleClass="full-width" requiredMessage="กรุณาเลือกอายุ" required="true">
                                            <f:selectItem itemLabel="กรุณาเลือกอายุ"  itemValue="" />
                                            <f:selectItem itemLabel="20 – 30 ปี"  itemValue="20 – 30 ปี" />
                                            <f:selectItem itemLabel="31 – 40 ปี"  itemValue="31 – 40 ปี" />
                                            <f:selectItem itemLabel="41 – 50 ปี"  itemValue="41 – 50 ปี" />
                                            <f:selectItem itemLabel="มากกว่า 50 ปี"  itemValue="มากกว่า 50 ปี" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <div class="row text-row">
                                    <div class="col-md-6"><li>ระดับการศึกษา</li></div>
                                    <div class="col-md-3 col-sm-6">
                                        <p:selectOneMenu id="education" value="#{indexBean.pollEntity.education}" cellpadding="5" styleClass="full-width" requiredMessage="กรุณาเลือกระดับการศึกษา" required="true">
                                            <f:selectItem itemLabel="กรุณาเลือกระดับการศึกษา"  itemValue="" />
                                            <f:selectItem itemLabel="ต่ำกว่าปริญญาตรี"  itemValue="ต่ำกว่าปริญญาตรี" />
                                            <f:selectItem itemLabel="ปริญญาตรี"  itemValue="ปริญญาตรี" />
                                            <f:selectItem itemLabel="สูงกว่าปริญญาตรี"  itemValue="สูงกว่าปริญญาตรี" />
                                        </p:selectOneMenu>
                                    </div>
                                </div>

                                <div class="row text-row">
                                    <div class="col-md-6"><li>สถานภาพการทำงานปัจจุบัน</li></div>
                                    <div class="col-md-3 col-sm-6">
                                        <p:selectOneMenu id="work1" value="#{indexBean.pollEntity.currentJobStatus}" cellpadding="5" styleClass="full-width" requiredMessage="กรุณาเลือกสถานภาพทำงานปัจจุบัน" required="true">
                                            <f:selectItem itemLabel="กรุณาเลือกสถานภาพทำงานปัจจุบัน"  itemValue="" />
                                            <f:selectItem itemLabel="ปฏิบัติงาน"  itemValue="ปฏิบัติงาน" />
                                            <f:selectItem itemLabel="หัวหน้าหน่วย"  itemValue="หัวหน้าหน่วย" />
                                            <f:selectItem itemLabel="หัวหน้างาน"  itemValue="หัวหน้างาน" />
                                            <f:selectItem itemLabel="ระดับต้น (ผช.ผู้อำนวยการ)"  itemValue="ระดับต้น (ผช.ผู้อำนวยการ)" />
                                            <f:selectItem itemLabel=" ระดับสูง(รองผู้อำนวยการขึ้นไป)"  itemValue=" ระดับสูง(รองผู้อำนวยการขึ้นไป)"/>
                                        </p:selectOneMenu>

                                    </div>
                                </div>




                                <div class="row text-row">
                                    <div class="col-md-6"><li>อายุงานทำงานที่โรงพยาบาลจุฬาภรณ์</li></div>
                                    <div class="col-md-3 col-sm-6">
                                        <p:selectOneMenu id="experience" value="#{indexBean.pollEntity.experience}" cellpadding="5" styleClass="full-width" required="true" requiredMessage="กรุณาเลือกอายุงานทำงานที่โรงพยาบาลจุฬาภรณ์">
                                            <f:selectItem itemLabel="กรุณาเลือกอายุงาน" itemValue=""/>
                                            <f:selectItem itemLabel="น้อยกว่า 3 ปี"  itemValue="น้อยกว่า 3 ปี" />
                                            <f:selectItem itemLabel="3-5 ปี"  itemValue="3-5 ปี" />
                                            <f:selectItem itemLabel="5-7 ปี"  itemValue="5-7 ปี" />
                                            <f:selectItem itemLabel="มากกว่า 7 ปี "  itemValue="มากกว่า 7 ปี " />
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </ol>


                        </fieldset>

                        <fieldset>
                            <b:row>
                                <b:column col-md="12">
                                    <h4 style="text-indent: 2em;">กรุณาเลือกหมายเลขระดับความพึงพอใจ/ ความคิดเห็นและระดับความสำคัญในแต่ละคำถาม</h4>
                                    <p style="text-decoration: underline; padding-left: 5%">ระดับความพึงพอใจ/ ความคิดเห็น</p>

                                    <ol style="padding-left: 11%">
                                        <h:panelGrid columns="3" cellpadding="5">
                                            <h:outputText value="มีความพึงพอใจ/ เห็นด้วย มากที่สุด" /><h:outputText value="คือ" /><h:outputText value=" 5" />
                                            <h:outputText value="มีความพึงพอใจ/ เห็นด้วย มาก" /><h:outputText value="คือ" /><h:outputText value=" 4" />
                                            <h:outputText value="มีความพึงพอใจ/ เห็นด้วย ปานกลาง" /><h:outputText value="คือ" /><h:outputText value=" 3" />
                                            <h:outputText value="มีความพึงพอใจ/ เห็นด้วย น้อย" /><h:outputText value="คือ" /><h:outputText value=" 2" />
                                            <h:outputText value="มีความพึงพอใจ/ เห็นด้วย น้อยที่สุด" /><h:outputText value="คือ" /><h:outputText value=" 1" />
                                        </h:panelGrid>
                                    </ol>

                                    <p >กรณีนี้  ผู้ตอบเห็นว่า การได้รับการพัฒนาความรู้และประสบการณ์ในการทำงานเป็นปัจจัยที่มีความสำคัญมากต่อความผาสุกในการทำงาน
                                        ผู้ตอบ จึงตอบในช่องระดับความสำคัญ “มาก”
                                            แต่เมื่อพิจารณาจากความเป็นจริงผู้ตอบมีโอกาสในการได้รับการพัฒนาน้อย จึงตอบระดับความพึงพอใจ/ความคิดเห็นในช่อง “น้อย”
                                    </p>
                                    <hr/>
                                </b:column>
                            </b:row>
                            <legend><li>ความผาสุก</li></legend>
                            <ol id="with-decimal" class="indend">
                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ด้านลักษณะงาน </h4></li></div>
                                </div>
                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความพึงพอใจที่ได้ทำงานที่เหมาะสมกับความรู้ ความสามารถและความถนัดของท่าน</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt1" value="#{indexBean.pollEntity.jobDeScript1}" />
                                            <p:slider minValue="-5" maxValue="-1"  for="txt1" step="1" style="width: 100%" />
                                            <div class="scale">
                                    <span>
                                        <ins>5</ins>
                                    </span>
                                    <span>
                                        <ins>4</ins>
                                    </span>
                                    <span>
                                        <ins>3</ins>
                                    </span>
                                    <span>
                                        <ins>2</ins>
                                    </span>
                                    <span>
                                        <ins>1</ins>
                                    </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความสุขในการปฏิบัติภารกิจและหน้าที่ที่ได้รับมอบหมายหรือรับผิดชอบ</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt2" value="#{indexBean.pollEntity.jobDeScript2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt2" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความพึงพอใจในผลการปฏิบัติงานและหน้าที่ที่ได้รับมอบหมายหรือรับผิดชอบ</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt3" value="#{indexBean.pollEntity.jobDeScript3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt3" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านรู้สึกว่างานที่ท่านทำมีความท้าทาย  และช่วยให้ท่านได้เรียนรู้และมีประสบการณ์มากขึ้น</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt4" value="#{indexBean.pollEntity.jobDeScript4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt4" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>หน่วยงานของท่านมีระบบการจัดการความรู้ที่ดีและส่งผลให้การปฏิบัติงานมีประสิทธิภาพ</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt5" value="#{indexBean.pollEntity.jobDeScript5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt5" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>

                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ความมั่นคงและความก้าวหน้า</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความรู้สึกว่ามีความมั่นคงกับงานที่ทำอยู่ในขณะนี้</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt6" value="#{indexBean.pollEntity.stable1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt6" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>การประเมินความรู้ ความสามารถ เพื่อเข้าสู่ตำแหน่งต่างๆ อยู่บนพื้นฐานแห่งความถูกต้อง เหมาะสม มีความยุติธรรม และสามารถเชื่อมั่นในเกณฑ์การประเมินได้</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt7" value="#{indexBean.pollEntity.stable2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt7" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>การประเมินประสิทธิภาพ ผลงาน ความสามารถ และความดีความชอบของบุคลากรในหน่วยงาน อยู่บนพื้นฐานแห่งความถูกต้อง เหมาะสม มีความยุติธรรม และสามารถเชื่อมั่นในเกณฑ์การประเมินได้</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt8" value="#{indexBean.pollEntity.stable3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt8" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>มีการสนับสนุนและส่งเสริมให้มีการพัฒนาศักยภาพของบุคลากร ด้านความก้าวหน้าในตำแหน่งหน้าที่ / การผลิตผลงานทางวิชาการ / เอกสาร /งานวิจัย /สิ่งประดิษฐ์และนวัตกรรมใหม่ๆ</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt9" value="#{indexBean.pollEntity.stable4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt9" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีโอกาสพัฒนาความรู้และประสบการณ์ในการทำงานโดยการเข้ารับการฝึกอบรม/สัมมนาหรือกิจกรรมการจัดการความรู้</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt10" value="#{indexBean.pollEntity.stable5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt10" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>การพัฒนากิจกรรมที่ก่อให้เกิดการเรียนรู้ของท่านส่งผลต่อความก้าวหน้าในสายอาชีพ</li></div>
                                        <div class="col-md-6 col-sm-12">
                                            <h:inputHidden id="txt11" value="#{indexBean.pollEntity.stable6}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt11" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>


                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ด้านเพื่อนร่วมงาน</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>เพื่อนร่วมงานให้ความสนิทสนม ให้ความช่วยเหลือหรือสนับสนุนในการปฏิบัติภารกิจ หน้าที่และผลงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt12" value="#{indexBean.pollEntity.coop1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt12" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้ปฏิบัติงานและเพื่อนร่วมงาน มีการแลกเปลี่ยนความคิดเห็นและข้อเสนอแนะในการปฏิบัติงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt13" value="#{indexBean.pollEntity.coop2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt13" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านพึงพอใจที่สามารถปรึกษาปัญหาการทำงานและได้รับการช่วยเหลือเป็นอย่างดีจากเพื่อนร่วมงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt14" value="#{indexBean.pollEntity.coop3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt14" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านได้รับการยอมรับ นับถือในความรู้ ผลงาน และความสามารถในการปฏิบัติงานภารกิจและหน้าที่ จากบุคคลากรภายในหน่วยงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt15" value="#{indexBean.pollEntity.coop4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt15" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านสามารถทำงานเป็นทีม เพื่อให้เกิดความร่วมมือ และการทำงานที่มีคุณภาพ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt16" value="#{indexBean.pollEntity.coop5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt16" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>


                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ด้านผู้บังคับบัญชา</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชามีการชี้แจงให้ผู้ปฏิบัติหรือผู้ใต้บังคับบัญชาเข้าใจในนโยบายและแนวทางการปฏิบัติงานต่างๆอย่างชัดเจน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt17" value="#{indexBean.pollEntity.head1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt17" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>มีการแลกเปลี่ยนความคิดเห็นระหว่างผู้ปฏิบัติงานกับผู้บังคับบัญชาหรือผู้นำหน่วยงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt18" value="#{indexBean.pollEntity.head2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt18" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชาสร้างบรรยากาศที่เป็นกันเองกับบุคลากร และเมื่อประสบปัญหาในการทำงานผู้ปฏิบัติงานสามารถปรึกษาหารือได้</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt19" value="#{indexBean.pollEntity.head3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt19" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชาให้ความเสมอภาคต่อบุคลากรภายในองค์กร ยอมรับฟังความคิดเห็นและข้อเสนอแนะของบุคลากร</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt20" value="#{indexBean.pollEntity.head4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt20" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชาให้คำแนะนำ และสอนงานท่านเพื่อให้บรรลุเป้าหมายในการทำงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt21" value="#{indexBean.pollEntity.head5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt21" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชาเป็นแบบอย่างที่ดีในถ่ายทอด แบ่งปันความรู้ ให้มีการเรียนรู้อย่างต่อเนื่อง</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt22" value="#{indexBean.pollEntity.head6}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt22" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชามีการนำเทคโนโลยีใหม่ๆ มาประยุกต์ใช้ในการทำงาน ที่ส่งผลให้การปฏิบัติงานของท่านมีความสะดวกรวมเร็วยิ่งขึ้น</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt23" value="#{indexBean.pollEntity.head7}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt23" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ผู้บังคับบัญชาส่งเสริม สนับสนุนให้บุคลากรวางแผนพัฒนาตนเองเพื่อให้เกิดการเรียนรู้อย่างต่อเนื่อง</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt24" value="#{indexBean.pollEntity.head8}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt24" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>



                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ด้านการเสริมสร้างแรงจูงใจ ค่าตอบแทนและสวัสดิการ</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>รายได้ ค่าตอบแทน และสวัสดิการที่ได้รับในปัจจุบันมีความเหมาะสมกับปริมาณหรือภารกิจที่ปฏิบัติหน้าที่อยู่</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt25" value="#{indexBean.pollEntity.welfare1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt25" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านพอใจกับเงินเดือนของท่านเมื่อเปรียบเทียบกับบุคลากรในสายอาชีพอื่นๆ ที่มีวุฒิการศึกษาเหมือนท่าน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt26" value="#{indexBean.pollEntity.welfare2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt26" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านได้รับความสะดวกรวดเร็ว ในการใช้สิทธิ์เบิกค่ารักษาพยาบาล และค่าสวัสดิการต่างๆ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt27" value="#{indexBean.pollEntity.welfare3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt27" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านได้รับสวัสดิการที่โรงพยาบาลจัดให้อย่างเหมาะสม</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt28" value="#{indexBean.pollEntity.welfare4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt28" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>หน่วยงานสนับสนุน ยกย่อง ให้รางวัล แก่บุคลากร/ทีมงาน ที่มีการพัฒนาการเรียนรู้ สร้างนวัตกรรม หรือที่มีผลการดำเนินงานที่มีประสิทธิภาพ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt29" value="#{indexBean.pollEntity.welfare5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt29" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>หน่วยงานมีการนำผลการได้รับรางวัลต่างๆ ของบุคลากร ไปประกอบการประเมินผลการปฏิบัติงานในแต่ละรอบการประเมินอย่างเป็นรูปธรรม</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt30" value="#{indexBean.pollEntity.welfare6}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt30" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>



                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ด้านสถานที่และสิ่งอำนวยความสะดวก</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>สภาพแวดล้อม และบรรยากาศทั่วไปในที่ทำงาน เช่น เสียง แสงสว่าง การถ่ายเทอากาศมีความเหมาะสมและส่งเสริมให้ท่านทำงานสะดวก</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt31" value="#{indexBean.pollEntity.place1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt31" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความพึงพอใจในอาคารสถานที่และสภาพแวดล้อมทั่วๆไปของโรงพยาบาล ที่มีลักษณะทำให้เกิดความกระตือรือร้นในการทำงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt32" value="#{indexBean.pollEntity.place2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt32" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>หน่วยงานของท่านมีการจัดบริการหรือสิ่งอำนวยความสะดวก เช่น น้ำดื่ม ห้องพัก ห้องน้ำ  ที่เพียงพอกับความต้องการ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt33" value="#{indexBean.pollEntity.place3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt33" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>การจัดสถานที่ในการทำงานเป็นสัดส่วน สะอาด เป็นระเบียบเรียบร้อยสะดวกต่อการทำงาน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt34" value="#{indexBean.pollEntity.place4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt34" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความรู้สึกมั่นใจและปลอดภัยต่อระบบปรับอากาศภายในอาคารของโรงพยาบาล</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt35" value="#{indexBean.pollEntity.place5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt35" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>วัสดุอุปกรณ์ในการปฏิบัติงานมีจำนวนที่เพียงพอและมีความสะดวกที่จะนำมาใช้</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt36" value="#{indexBean.pollEntity.place6}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt36" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ระบบเทคโนโลยีสารสนเทศที่มีช่วยให้ท่านสามารถปฏิบัติงานได้อย่างต่อเนื่อง</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt37" value="#{indexBean.pollEntity.place7}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt37" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ระบบเทคโนโลยีสารสนเทศของโรงพยาบาลช่วยให้ท่านสืบค้นความรู้ที่ใช้ในการทำงานและพัฒนาตนเอง ได้ง่าย  สะดวก และรวดเร็ว</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt38" value="#{indexBean.pollEntity.place8}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt38" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>หน่วยงานของท่านมีแหล่งเรียนรู้  เช่น ห้องสมุด          มุมแลกเปลี่ยนเรียนรู้ ฯลฯ ที่เหมาะสมต่อการเรียนรู้</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt39" value="#{indexBean.pollEntity.place9}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt39" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </ol>
                                <div class="row text-row">
                                    <div class="col-md-6">ข้อเสนอแนะ หรือความคิดเห็น</div>
                                </div>
                                <div class="row text-row">
                                    <div class="col-md-12">
                                        <p:inputTextarea value="#{indexBean.pollEntity.suggestionPart2}" rows="7" style="width: 100%;"/>
                                    </div>
                                </div>


                            </ol>

                        </fieldset>

                        <fieldset>
                            <legend><li>ความผูกพันของบุคลากรต่อองค์กร</li></legend>
                            <ol id="with-decimal" class="indend">
                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ความพยายามทุ่มเทปฏิบัติงานเพื่อให้บรรลุวัตถุประสงค์ของโรงพยาบาล</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านปฏิบัติงานที่ได้รับมอบหมายอย่างเต็มความรู้ความสามารถ เพื่อบรรลุวัตถุประสงค์และความสำเร็จของโรงพยาบาล</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt40" value="#{indexBean.pollEntity.attempt1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt40" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านเต็มใจและยินดีที่จะปฏิบัติตามนโยบายของโรงพยาบาลอย่างเคร่งครัด</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt41" value="#{indexBean.pollEntity.attempt2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt41" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>เมื่อพบปัญหาอุปสรรคการทำงานท่านมีการสรุปบทเรียนและวางแผนที่จะพัฒนาการทำงานให้ดียิ่งขึ้น</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt42" value="#{indexBean.pollEntity.attempt3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt42" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านคิดริเริ่มวิธีการต่างๆ เพื่อใช้ในการปรับปรุงการทำงานให้ดีขึ้นอย่างต่อเนื่องตลอดเวลา</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt43" value="#{indexBean.pollEntity.attempt4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt43" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านเต็มใจที่จะทำงานต่อให้เสร็จ ถึงแม้ว่าจะเลยเวลาเลิกงานไปแล้ว หรือนำงานไปทำต่อที่บ้าน</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt44" value="#{indexBean.pollEntity.attempt5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt44" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านนำความรู้ที่ได้จากการเรียนรู้และการแลกเปลี่ยนเรียนรู้ทั้งจากภายนอกและภายในโรงพยาบาลการพัฒนางานและปรับปรุงงานให้ดีขึ้นอย่างต่อเนื่อง</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt45" value="#{indexBean.pollEntity.attempt6}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt45" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                </ol>


                                <hr/>

                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>ความภาคภูมิใจและจงรักภักดีต่อโรงพยาบาล</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>เมื่อโรงพยาบาลของท่านมีการพัฒนามากขึ้น ท่านมีความภาคภูมิใจตามไปด้วย</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt46" value="#{indexBean.pollEntity.proud1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt46" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความภาคภูมิใจและยินดีจะบอกกับผู้อื่น ว่าท่านทำงานที่โรงพยาบาลแห่งนี้</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt47" value="#{indexBean.pollEntity.proud2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt47" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านรู้สึกภูมิใจเมื่อได้ยินบุคคลอื่นกล่าวถึงโรงพยาบาลในทางที่ดี</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt48" value="#{indexBean.pollEntity.proud3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt48" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีพฤติกรรมเป็นแบบอย่างที่ดีที่ช่วยส่งเสริมภาพลักษณ์ของโรงพยาบาลอย่างสม่ำเสมอ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt49" value="#{indexBean.pollEntity.proud4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt49" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความซื่อสัตย์และจงรักภักดีต่อโรงพยาบาล โดยคำนึงถึงประโยชน์ของโรงพยาบาลเป็นที่ตั้ง </li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt50" value="#{indexBean.pollEntity.proud5}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt50" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>
                                <hr/>
                                <div class="row text-row">
                                    <div class="col-md-12"><li><h4>การเป็นส่วนหนึ่งของโรงพยาบาล</h4></li></div>
                                </div>

                                <ol id="single">
                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านเข้าร่วมกิจกรรมต่าง ๆ ของโรงพยาบาลอย่างสม่ำเสมอ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt51" value="#{indexBean.pollEntity.part1}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt51" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>เมื่อท่านทำงานในโรงพยาบาลแห่งนี้เป็นเวลานาน ท่านยิ่งรู้สึกเป็นส่วนหนึ่งของโรงพยาบาล</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt52" value="#{indexBean.pollEntity.part2}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt52" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านมีความพึงพอใจในการปฏิบัติงานกับโรงพยาบาลจุฬาภรณ์ จนถึงเกษียณอายุ</li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt53" value="#{indexBean.pollEntity.part3}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt53" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row text-row for-poll">
                                        <div class="col-md-6"><li>ท่านไม่คิดจะไปปฏิบัติงานที่องค์กรอื่น แม้ว่าจะได้รับตำแหน่งและเงินเดือนที่ดีกว่า </li></div>
                                        <div class="col-md-6 col-sm-12">

                                            <h:inputHidden id="txt54" value="#{indexBean.pollEntity.part4}" />
                                            <p:slider minValue="-5" maxValue="-1" for="txt54" step="1" style="width: 100%" />
                                            <div class="scale">
                                        <span>
                                            <ins>5</ins>
                                        </span>
                                        <span>
                                            <ins>4</ins>
                                        </span>
                                        <span>
                                            <ins>3</ins>
                                        </span>
                                        <span>
                                            <ins>2</ins>
                                        </span>
                                        <span>
                                            <ins>1</ins>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </ol>


                            </ol>
                        </fieldset>

                        <fieldset>
                            <legend><li>ข้อเสนอแนะ หรือความคิดเห็น</li></legend>

                            <div class="row text-row">
                                <div class="col-md-12 col-sm-12">
                                    <p:inputTextarea value="#{indexBean.pollEntity.suggestion}" rows="7" style="width: 100%"/>
                                </div>
                            </div>

                        </fieldset>
                    </ol>


                    <p:commandButton value="ส่งข้อมูล" ajax="false" action="#{indexBean.saveData}" process="@form" update="@form" onsuccess="#{facesContext.validationFailed ? 'PF(\'dlg1\').show();':''}" style="align: center;"/>


                </div>
            </div>



            <div class="col-3"></div>
        </div>
    </div>


    </h:form>
    <p:dialog header="สำเร็จ" widgetVar="dlg1" modal="true" minHeight="150">
        <h:outputText value="ขอบคุณสำหรับการทำแบบสอบถาม" />
        <br/>
        <p:button outcome="index" value="OK"/>
    </p:dialog>
</h:body>
</html>
