<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">
<f:view>
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta http-equiv="refresh" content="5; url=index.xhtml" />
            <title>ขอบคุณสำหรับการทำแบบสอบถาม</title>
            <h:outputStylesheet name="bootstrap/css/custom.css" />
        </f:facet>
    </h:head>
    <h:body>
        <b:row style="margin-top:80px;">
            <b:column span="6" offset="3" style="border: 2px solid rgba(133, 187, 203, 0.75);border-radius: 10px;text-align: center;box-shadow: 0px 3px 0px rgba(136, 136, 136, 0.26);">
                <blockquote>
                    <h3 class="thank-text" style="margin: 0;padding: 25px;line-height: 53px;">ขอขอบคุณที่ท่านให้ความร่วมมือ<br/>ในการตอบแบบสอบถาม</h3>
                </blockquote>
            </b:column>
        </b:row>
    </h:body>
</f:view>
</html>
